# Visualisierung des Leverage Effekts

In diesem Arbeitsblatt geht es darum zu zeigen, wie stark der Leverage
Effekt die Rendite des Eigenkapitals beeinflusst und wie wichtig die
Prognose der Entwicklung des Zinsniveaus ist.

Um die Auswirkung des Leverage Effekts im Allgemeinen zu zeigen, ist die Eigenkapitalrentabilit채t ($\frac{\text{Gewinn}}{\text{EK}}\times 100$) in Abh채ngigkeit von der Gesamtkapitalrentabilit채t ($\frac{\text{EBIT}}{\text{GK}}\times 100$) und des Finanzierungsverh채ltnisses ($\frac{\text{FK}}{\text{EK}}$) Darzustellen.

Um dies zu Bewerkstelligen ist das CSV `[260112_data.csv](260112_data.csv)` als Pandas DataFrame in dieses Jupyter Notebook zu lesen.

In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('260112_data.csv', sep=';')
df

     GK  EK  FK
0   100   1  99
1   100  10  90
2   100  20  80
3   100  30  70
4   100  40  60
5   100  50  50
6   100  60  40
7   100  70  30
8   100  80  20
9   100  90  10
10  100  99   1

In [11]:
gk = [100] * 11
gk

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [18]:
df = pd.DataFrame({
    'GK': gk,
    'EK': ek,
})
df['FK'] = df['GK'] - df['EK']
df['RoI'] = 5
df['FKZS'] = 2.5
df['FKZ'] = df['FK'] * df['FKZS'] / 100
df['Gewinn'] = df['RoI'] - df['FKZ']
df['RoE'] = df['Gewinn'] / df['EK'] * 100
df

     GK  EK  FK  RoI  FKZS    FKZ  Gewinn         RoE
0   100   1  99    5   2.5  2.475   2.525  252.500000
1   100  10  90    5   2.5  2.250   2.750   27.500000
2   100  20  80    5   2.5  2.000   3.000   15.000000
3   100  30  70    5   2.5  1.750   3.250   10.833333
4   100  40  60    5   2.5  1.500   3.500    8.750000
5   100  50  50    5   2.5  1.250   3.750    7.500000
6   100  60  40    5   2.5  1.000   4.000    6.666667
7   100  70  30    5   2.5  0.750   4.250    6.071429
8   100  80  20    5   2.5  0.500   4.500    5.625000
9   100  90  10    5   2.5  0.250   4.750    5.277778
10  100  99   1    5   2.5  0.025   4.975    5.025253

In [20]:
df.to_csv('finanzierungsverhaeltnisse_x.csv', sep=';')

In [ ]:
u